<%include partials/header%>
<!DOCTYPE html>
<html>
    <head>
        <title>Stree Rakshak</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>

    <body id="landing" class="container">
        

    <div id="landing-header">

     
    

    <h1 style="text-align: center; font-size: 150px; font-family: georgia; margin-top: 250px">Stree Rakshak </h1>

		
<center> 
<a href="https://login-signup-auth.netlify.app/" class="ui secondary button large" style="text-align: center;">Login</a>
                        <a href="https://login-signup-auth.netlify.app/" class="ui secondary button large" style="text-align: center">Sign Up</a>
</center>
</div>
                        
 		
    </div>
      
      <br>
     

<center>
      <a href="" class="blockoPayBtn" data-toggle="modal" data-uid=46dd0d44787c44b9><img width=200 src="https://images.squarespace-cdn.com/content/v1/569eb2495dc6dec4f986ddf8/aa733ac9-1d9a-4f2a-98a3-6c3b0421a9fe/bitcoin-donate-button-300x89.png"></a>


<script src="https://www.blockonomics.co/js/pay_button.js"></script>

</center>   

</body>
</html>

